.main-container {
    display: block;
    margin: 0;
}

.first-container {
    font-size: large;
    line-height: 2;
}

.first-container ul {
    text-align: center;
    width: 100%;
}

.second-container {
    font-size: large;
    line-height: 2;
}
